<header>
  <nav>
    <a routerLink="/" class="logo">M.A. Muktadeer</a>
    <div class="links">
      <a routerLink="/">Home</a>
      <a routerLink="/about">About</a>
    </div>
  </nav>
</header>
<header class="header">
  <nav class="navbar">
    <div class="container">
      <a routerLink="/" class="logo">M.A.Muktadeer</a>
      <ul class="nav-links">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/skills">Skills</a></li>
        <li><a routerLink="/projects">Projects</a></li>
        <li><a routerLink="/experience">Exparience</a></li>
        <li><a routerLink="/education">Education</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
      <div class="hamburger" (click)="toggleMenu()">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </div>
  </nav>

  <div class="hero">
    <div class="container">
      <h1>M A Muktadeer</h1>
      <h2>Full Stack Developer</h2>
      <p class="hero-text">
        Building robust web applications with Angular & Spring Boot
      </p>
      <div class="hero-buttons">
        <a href="#contact" class="btn btn-primary">Hire Me</a>
        <a href="#" class="btn btn-secondary" (click)="downloadCV()"
          >Download CV</a
        >
      </div>
    </div>
  </div>
</header>

