<header>
  <nav>
    <a routerLink="/" class="logo">M.A. Muktadeer</a>
    <div class="links">
      <a routerLink="/">Home</a>
      <a routerLink="/about">About</a>
    </div>
  </nav>
</header>
<header class="header">
  <nav class="navbar">
    <div class="container">
      <a routerLink="/" class="logo">M.A.Muktadeer</a>
      <ul class="nav-links" [ngClass]="{'active':isMenuOpen}">
        <li (click)="toggleMenu('link')"><a routerLink="/" routerLinkActive ="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
        <li (click)="toggleMenu('link')"><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li (click)="toggleMenu('link')"><a routerLink="/skills" routerLinkActive="active">Skills</a></li>
        <li (click)="toggleMenu('link')"><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
        <li (click)="toggleMenu('link')"><a routerLink="/experience" routerLinkActive="active">Experience</a></li>
        <li (click)="toggleMenu('link')"><a routerLink="/education" routerLinkActive="active">Education</a></li>
        <li (click)="toggleMenu('link')"><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
      </ul>
      <div class="hamburger" (click)="toggleMenu()">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </div>
  </nav>

  <div class="hero">
    <div class="container">
      <h1>M A Muktadeer</h1>
      <h2>Full Stack Developer</h2>
      <p class="hero-text">
        Building robust web applications with Angular & Spring Boot
      </p>
      <div class="hero-buttons">
        <a href="#contact" class="btn btn-primary">Hire Me</a>
        <a class="btn btn-secondary" (click)="downloadCV()">Download CV</a>
      </div>
    </div>
  </div>
</header>
