<section id="skills" class="section">
  <div class="container">
    <h2 class="section-title" data-aos="fade-down-left">My Skills</h2>
    <div class="skills-grid">
      @for (skill of skills; track $index) {
        <div class="skill-item">
          <div class="skill-header" data-aos="flip-right">
            <i [class]="skill.icon"></i>
            <span>{{ skill.name }}</span>
          </div>
          <div class="skill-bar" data-aos="zoom-in">
            <div class="skill-level" [style.width.%]="skill.level"></div>
          </div>
        </div>
      }
    </div>
  </div>
</section>
