<!-- <section id="skills" class="section">
  <div class="container">
    <h2 class="section-title" data-aos="fade-down-left">My Skills</h2>
    <div class="skills-grid">
      @for (skill of skills; track $index) {
        <div class="skill-item">
          <div class="skill-header" data-aos="flip-right">
            <i [class]="skill.icon"></i>
            <span>{{ skill.name }}</span>
          </div>
          <div class="skill-bar" data-aos="zoom-in">
            <div class="skill-level" [style.width.%]="skill.level"></div>
          </div>
        </div>
      }
    </div>
  </div>
</section> -->

<section id="skills" class="py-4 mb-8" data-aos="fade-left">
  <h2 class="text-3xl font-bold mb-10 text-center">Skills</h2>
  <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-6 m-0 gap-8 mx-auto text-center">

    @for (skill of skills; track $index) {
      <div class="flex flex-col items-center p-4 bg-white rounded-xl shadow hover:shadow-md transition" data-aos="flip-right">
        <i class="{{skill.icon}} {{skill.class}} fa-3x mb-2"></i>
        <div data-aos="zoom-in">
          <span>{{ skill.name }}</span>
        </div>
      </div>
    }

  </div>
</section>

