<section id="about" class="section">
  <div class="">
    <h2 class="section-title" data-aos="flip-right">About Me</h2>
    <div class="about-content">
      <div class="about-text">
        <p data-aos="fade-up-right">
          I am a Full Stack Developer currently working at Softcafe IT Solution
          with expertise in Angular, Java, and Spring Boot.
        </p>
        <p data-aos="flip-right">
          <strong>Career Objective:</strong> To build a long-term career in IT
          with opportunities for career growth. To enhance my educational and
          professional skills in a stable and dynamic workplace.
        </p>

        <h3 data-aos="flip-right">Education</h3>
        <ul>
          <li data-aos="fade-down-left">
            BSc in Applied Mathematics, University of Rajshahi (CGPA: 2.65/4)
          </li>
          <li data-aos="fade-down-right">HSC, Science, Banshbaria Degree College (CGPA: 4.4/5)</li>
          <li data-aos="fade-down-left">SSC, Science, Banshbaria High School (CGPA: 5/5)</li>
        </ul>
      </div>
    </div>
  </div>
</section>
